In [4]:
import pandas as pd
import numpy as np

In [6]:
lst = [1, 2, 3, 1, 2, 3]

s = pd.Series([1, 2, 3, 10, 20, 30], lst)

grouped = s.groupby(level=0)

grouped.first()

1    1
2    2
3    3
dtype: int64

In [7]:
s

1     1
2     2
3     3
1    10
2    20
3    30
dtype: int64

In [12]:
grouped.cumsum()

1     1
2     2
3     3
1    11
2    22
3    33
dtype: int64

In [19]:
# Group By Multi-index

In [13]:
arrays = [['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'], \
          ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']]

In [14]:
index = pd.MultiIndex.from_arrays(arrays, names=['first', 'second'])

In [15]:
s = pd.Series(np.random.randn(8), index=index)
s

first  second
bar    one       2.572606
       two       1.895122
baz    one       0.362374
       two      -0.354954
foo    one      -0.909558
       two       1.079649
qux    one      -0.512226
       two       1.866201
dtype: float64

In [16]:
grouped = s.groupby(level=0)

In [17]:
grouped.sum()

first
bar    4.467728
baz    0.007420
foo    0.170091
qux    1.353975
dtype: float64

In [18]:
s.groupby(level='second').sum()

second
one    1.513196
two    4.486018
dtype: float64

In [21]:
s.groupby(level=['first', 'second']).sum()

first  second
bar    one       2.572606
       two       1.895122
baz    one       0.362374
       two      -0.354954
foo    one      -0.909558
       two       1.079649
qux    one      -0.512226
       two       1.866201
dtype: float64

In [24]:
df = pd.DataFrame({'A': [1, 1, 1, 1, 2, 2, 3, 3], \
                   'B': np.arange(8)}, index=index)

In [23]:
df

              A  B
first second
bar   one     1  0
      two     1  1
baz   one     1  2
      two     1  3
foo   one     2  4
      two     2  5
qux   one     3  6
      two     3  7

A DataFrame may be grouped by a combination of columns and index levels by specifying the column names as strings and the index levels as `pd.Grouper` objects.

In [25]:
df.groupby([pd.Grouper(level=1), 'A']).sum() # Grouper

          B
second A
one    1  2
       2  4
       3  6
two    1  4
       2  5
       3  7