In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series
import datetime
import time
import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
usecols = ['CLNN', 'TS_D', 'FINAL_CD', 'SAA', 'MCT_ADM_GDS_APB_CD', 'DOF_TF', 'DAW_CCD', 'MCT_N', 'TIME']
df = pd.read_csv('df.csv', usecols=usecols)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 9 columns):
CLNN                  1000000 non-null int64
TS_D                  1000000 non-null object
FINAL_CD              1000000 non-null int64
SAA                   1000000 non-null int64
MCT_ADM_GDS_APB_CD    1000000 non-null int64
DOF_TF                1000000 non-null int64
DAW_CCD               1000000 non-null int64
MCT_N                 1000000 non-null int64
TIME                  1000000 non-null int64
dtypes: int64(8), object(1)
memory usage: 68.7+ MB

In [8]:
df.head(6)

,CLNN,TS_D,FINAL_CD,SAA,MCT_ADM_GDS_APB_CD,DOF_TF,DAW_CCD,MCT_N,TIME
0,14437,2018-07-19,25,11,26,0,5,36,199982
1,2414,2018-07-09,10,7,35,0,0,88,57272
2,2136,2018-07-28,82,9,2,0,2,83,135636
3,15588,2018-07-13,72,16,21,1,1,60,156460
4,6377,2018-07-28,37,14,31,0,2,58,2430
5,1974,2018-07-05,89,20,58,0,5,78,28881

In [10]:
df['SAA'][2:3]

2    9
Name: SAA, dtype: int64

In [12]:
df['SAA'][2:3] == 9

2    True
Name: SAA, dtype: bool

In [15]:
min(df['SAA'][2:3].values)

9

In [33]:
# To select rows whose column value is in list

DAW_CCD_list = [3, 5]
df.DAW_CCD.isin(DAW_CCD_list)

0          True
1         False
2         False
3         False
4         False
5          True
6          True
7          True
8         False
9          True
10        False
11         True
12        False
13        False
14        False
15        False
16        False
17        False
18         True
19        False
20        False
21        False
22         True
23         True
24        False
25        False
26         True
27         True
28         True
29        False
          ...
999970    False
999971    False
999972    False
999973    False
999974    False
999975     True
999976     True
999977     True
999978    False
999979     True
999980    False
999981     True
999982    False
999983     True
999984     True
999985    False
999986    False
999987    False
999988    False
999989     True
999990     True
999991     True
999992     True
999993     True
999994    False
999995    False
999996    False
999997    False
999998    False
999999    False
Name: DAW_CCD, Length: 1000000, dtype: bool

In [34]:
df_DAW_CCD = df[df.DAW_CCD.isin(DAW_CCD_list)]
df_DAW_CCD.shape

(333766, 9)

In [36]:
df_DAW_CCD.DAW_CCD.unique()

array([5, 3], dtype=int64)

In [37]:
df_DAW_CCD.head(3)

,CLNN,TS_D,FINAL_CD,SAA,MCT_ADM_GDS_APB_CD,DOF_TF,DAW_CCD,MCT_N,TIME
0,14437,2018-07-19,25,11,26,0,5,36,199982
5,1974,2018-07-05,89,20,58,0,5,78,28881
6,3939,2018-07-14,97,11,23,1,5,97,199889

In [ ]:
# Multiple Conditions

In [39]:
FINAL_CD_list = [25, 89, 97]

In [44]:
df[~df.FINAL_CD.isin(FINAL_CD_list) & 
   df.DAW_CCD.isin(DAW_CCD_list)] \
[:5]

,CLNN,TS_D,FINAL_CD,SAA,MCT_ADM_GDS_APB_CD,DOF_TF,DAW_CCD,MCT_N,TIME
7,6130,2018-07-18,28,10,12,0,3,66,61197
9,1072,2018-07-11,33,11,8,1,5,7,52381
11,9374,2018-07-24,30,21,55,0,5,89,194015
18,10060,2018-07-20,14,3,57,0,5,14,154157
23,12476,2018-07-04,8,13,35,0,5,63,18577

In [30]:
# 1. Create Boolean variable

is_day_5 = df['DAW_CCD'] > 3
print(is_2002.head())

0     True
1    False
2    False
3    False
4    False
Name: DAW_CCD, dtype: bool

In [31]:
# 2. Filter rows for DAW_CCD > 3 using the boolean variable
day_5 = df[is_day_5] 
print(day_5.shape)

(333603, 9)

In [32]:
# showing only DAW_CCD > 3
day_5.head()

,CLNN,TS_D,FINAL_CD,SAA,MCT_ADM_GDS_APB_CD,DOF_TF,DAW_CCD,MCT_N,TIME
0,14437,2018-07-19,25,11,26,0,5,36,199982
5,1974,2018-07-05,89,20,58,0,5,78,28881
6,3939,2018-07-14,97,11,23,1,5,97,199889
9,1072,2018-07-11,33,11,8,1,5,7,52381
10,918,2018-07-22,23,28,12,0,4,12,123726

In [ ]:
# DAYS TIMES SEX_CCD AGE_GB MIN
# 2 02 M 01_25 9.68