In [1]:
import pandas as pd
import numpy as np

In [9]:
arrays = [['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],\
          ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']]

In [10]:
tuples = list(zip(*arrays))
tuples

[('bar', 'one'),
 ('bar', 'two'),
 ('baz', 'one'),
 ('baz', 'two'),
 ('foo', 'one'),
 ('foo', 'two'),
 ('qux', 'one'),
 ('qux', 'two')]

In [12]:
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
index

MultiIndex(levels=[['bar', 'baz', 'foo', 'qux'], ['one', 'two']],
           labels=[[0, 0, 1, 1, 2, 2, 3, 3], [0, 1, 0, 1, 0, 1, 0, 1]],
           names=['first', 'second'])

In [13]:
s = pd.Series(np.random.randn(8), index=index)
s

first  second
bar    one       0.586737
       two       0.299329
baz    one       0.540961
       two       0.211700
foo    one      -1.233547
       two      -0.342450
qux    one      -0.080672
       two      -0.515992
dtype: float64

In [2]:
iterables = [['bar', 'baz', 'foo', 'qux'], ['one', 'two']]

In [3]:
pd.MultiIndex.from_product(iterables, names=['first', 'second'])

MultiIndex(levels=[['bar', 'baz', 'foo', 'qux'], ['one', 'two']],
           labels=[[0, 0, 1, 1, 2, 2, 3, 3], [0, 1, 0, 1, 0, 1, 0, 1]],
           names=['first', 'second'])

In [4]:
arrays = [np.array(['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux']), \
          np.array(['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two'])]

In [5]:
s = pd.Series(np.random.randn(8), index=arrays)
s

bar  one    0.713377
     two   -0.246832
baz  one   -0.810411
     two    0.781118
foo  one   -0.131777
     two   -0.153739
qux  one   -1.109096
     two   -0.305697
dtype: float64

In [6]:
df = pd.DataFrame(np.random.randn(8, 4), index=arrays)
df

                0         1         2         3
bar one  1.316510  2.080172 -0.392492 -1.744564
    two -0.035926  0.684085  1.136260  0.898462
baz one -0.043522 -0.492039 -1.809621  0.841567
    two -0.634457  1.983097 -1.972443 -0.060176
foo one  0.487847 -1.763275  0.393967  0.161708
    two -0.148490  0.339260 -0.226272  0.060540
qux one -2.615879 -0.611921 -0.125886 -0.112249
    two -0.958923  0.282672 -0.145218  1.141181

In [14]:
df = pd.DataFrame(np.random.randn(3, 8), index=['A', 'B', 'C'], columns=index)
df

first        bar                 baz                 foo                 qux  \
second       one       two       one       two       one       two       one
A       1.315228  0.133441  2.342679 -0.221160 -1.566654  0.370282 -0.339646
B      -0.167535 -0.521681 -1.805407  0.214407  0.649281 -1.937601  0.591267
C      -1.873241 -0.335275 -1.687163  1.592976 -0.469257  1.436548 -0.439140

first
second       two
A      -0.138703
B      -0.028220
C      -0.629823

In [16]:
pd.DataFrame(np.random.randn(6, 6), index=index[:6], columns=index[:6])

first              bar                 baz                 foo
second             one       two       one       two       one       two
first second
bar   one    -1.870517 -0.982594  0.885085  0.634851  0.547045  0.049438
      two     0.335038  0.933403 -0.772229 -0.785145 -0.005717  1.656740
baz   one    -1.583739 -0.545498 -0.862398  2.008479  1.476056  0.788462
      two     0.326875 -1.076725  0.586825 -1.375466  0.587779 -0.048569
foo   one     0.579432  0.373877 -0.845369 -0.153732  1.612352 -0.220170
      two     0.416760  0.736942 -0.106031  0.027485  1.133802 -1.058986

In [17]:
with pd.option_context('display.multi_sparse', False): 
    df

In [18]:
pd.Series(np.random.randn(8), index=tuples)

(bar, one)    1.176643
(bar, two)    1.406813
(baz, one)    0.196892
(baz, two)   -0.109436
(foo, one)    1.455802
(foo, two)   -0.690559
(qux, one)    1.597742
(qux, two)    0.823752
dtype: float64