In [ ]:
# Python version check
import sys
!{sys.executable} --version

In [13]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series
import datetime
import time
import matplotlib.pyplot as plt
%matplotlib inline

Step 0. Glossary 
    - trx07 
    - trx08
    - trx09
    - upjong
    - cus

Step 1. Data Extraction

In [ ]:
# make sample

num_txn = 1000000 # 1/100 of real data 
num_cus = 40000 # 1/100 of real data
num_mct = 100

In [171]:
array01old = np.random.randint(0, num_cus, size=(num_txn, 1) ) # CLNN

array01a = np.random.randn(num_txn, 1)
array01 = np.round(np.sqrt(np.square(array01a)) * 10000)
max(array01)

array([47669.])

In [167]:
array02 = np.random.randint(180701, 180731, size=(num_txn, 1)) # TS_D # 승인날짜

times = pd.date_range('2018-07-01', periods=31, freq='1440min')
array02new = np.random.choice(times, size=num_txn, replace=True, p=None)
array02new

array(['2018-07-12T00:00:00.000000000', '2018-07-11T00:00:00.000000000',
       '2018-07-03T00:00:00.000000000', ...,
       '2018-07-29T00:00:00.000000000', '2018-07-08T00:00:00.000000000',
       '2018-07-26T00:00:00.000000000'], dtype='datetime64[ns]')

In [67]:
array03 = np.random.randint(0, 100, size=(num_txn, 1)) # FINAL_CD # 업종코드

In [144]:
array04a = np.random.randn(num_txn, 1) # SAA # 승인금액
array04 = np.round(np.sqrt(np.square(array04a)) * 20 + 3)

In [145]:
array05old = np.random.randint(0, 424, size=(num_txn, 1)) # MCT_ADM_GDS_APB_CD # 서울 행정동 코드

array05a = np.random.randn(num_txn, 1) 
array05 = np.round(np.sqrt(np.square(array05a)) * 70)

In [141]:
# array06a = np.random.randint(1, 2, size=(round(num_txn*5/7), 1)) # DOF_TF # 평일 or 휴일
# array06b = np.random.randint(0, 1, size=(round(num_txn*2/7), 1)) # DOF_TF # 평일 or 휴일
# array06 = np.append(array06a, array06b, axis=0)
# random.shuffle(array06)

In [78]:
# 더 간편한 방법
array06 = np.random.choice(2, size=num_txn, p=[5/7, 2/7]) # 2 미만의 정수 중 p의 확률로 랜덤 선택

In [79]:
array07 = np.random.randint(0, 6, size=(num_txn, 1)) # DAW_CCD # 요일코드 # array06과 맞추기 어려워서 임시로 랜덤

In [80]:
array08 = np.random.randint(0, num_mct, size=(num_txn, 1)) # MCT_N # 가맹점 번호

In [81]:
array09 = np.random.randint(1, 240000, size=(num_txn, 1)) # TIME # 24h 시간 # 정확히 맞는 숫자는 아님

In [172]:
df = pd.DataFrame( np.column_stack([array01, array02, array03, array04, array05, array06, array07, array08, array09])
                  , columns = ['CLNN', 'TS_D', 'FINAL_CD', 'SAA', 'MCT_ADM_GDS_APB_CD', 'DOF_TF', 'DAW_CCD', 'MCT_N', 'TIME'])

df.head(10)

,CLNN,TS_D,FINAL_CD,SAA,MCT_ADM_GDS_APB_CD,DOF_TF,DAW_CCD,MCT_N,TIME
0,9837.0,180709.0,30.0,27.0,2.0,0.0,4.0,40.0,62053.0
1,8631.0,180710.0,22.0,34.0,71.0,1.0,3.0,12.0,167820.0
2,2531.0,180728.0,20.0,32.0,40.0,0.0,2.0,2.0,72977.0
3,5663.0,180713.0,94.0,46.0,47.0,0.0,3.0,13.0,238999.0
4,7783.0,180706.0,85.0,16.0,19.0,0.0,4.0,33.0,31640.0
5,191.0,180705.0,80.0,37.0,6.0,1.0,1.0,17.0,182180.0
6,821.0,180702.0,96.0,8.0,131.0,0.0,2.0,71.0,95124.0
7,8145.0,180715.0,88.0,25.0,111.0,0.0,1.0,72.0,91945.0
8,3278.0,180729.0,72.0,6.0,5.0,0.0,3.0,92.0,145968.0
9,14187.0,180725.0,92.0,15.0,57.0,0.0,1.0,55.0,51189.0

### Data Merge

In [ ]:
trx07_08_df = trx07_df.append(trx08_df, ignore_index=True, \
                           sort=True) #sort=sort 옵션

In [ ]:
trx07_08_09_df = trx07_08_df.append(trx09_df, ignore_index=True, \
                           sort=True) #sort=sort 옵션

### GroupBy 객체 만들기

In [173]:
groupedByCLNN = df.groupby('CLNN')

In [ ]:
groupedByCLNN.describe()['SAA'].head() # 계산시 오래걸림

In [174]:
groupedByCLNN.count()['SAA'].head()

CLNN
0.0    46
1.0    80
2.0    81
3.0    82
4.0    85
Name: SAA, dtype: int64

In [175]:
groupedByCLNN.sum()['SAA'].head()

CLNN
0.0     954.0
1.0    1417.0
2.0    1458.0
3.0    1453.0
4.0    1598.0
Name: SAA, dtype: float64

In [176]:
groupedByCLNN.mean()['SAA'].head()

CLNN
0.0    20.739130
1.0    17.712500
2.0    18.000000
3.0    17.719512
4.0    18.800000
Name: SAA, dtype: float64

In [177]:
# 2개 기준으로 Group By 하기
gb = df.groupby(['CLNN', 'MCT_ADM_GDS_APB_CD']) # 고객별 & 행정동별
gb2 = gb.sum()['SAA'] # 금액 합
gb2

CLNN     MCT_ADM_GDS_APB_CD
0.0      6.0                   11.0
         16.0                   6.0
         17.0                  28.0
         18.0                  49.0
         21.0                  33.0
         22.0                  12.0
         23.0                  40.0
         24.0                  31.0
         25.0                  39.0
         27.0                  77.0
         28.0                  22.0
         29.0                  79.0
         31.0                  68.0
         32.0                  14.0
         33.0                  55.0
         34.0                   6.0
         41.0                  60.0
         42.0                  34.0
         43.0                  11.0
         45.0                  11.0
         46.0                  22.0
         47.0                  30.0
         49.0                   4.0
         53.0                  36.0
         60.0                  25.0
         65.0                  15.0
         72.0                  18.0
         74.0                  18.0
         75.0                  30.0
         79.0                  14.0
                               ...
42108.0  27.0                  31.0
42143.0  146.0                 15.0
42217.0  78.0                  11.0
42234.0  94.0                  24.0
42365.0  157.0                  9.0
42436.0  39.0                  57.0
42556.0  35.0                  30.0
42569.0  57.0                  14.0
42752.0  98.0                   6.0
42886.0  21.0                  10.0
42984.0  4.0                   36.0
43004.0  15.0                   4.0
43124.0  63.0                   8.0
43470.0  32.0                   4.0
43550.0  49.0                  34.0
43565.0  62.0                   6.0
43806.0  59.0                  29.0
44074.0  75.0                   3.0
44780.0  2.0                   18.0
44905.0  21.0                   8.0
45358.0  18.0                  25.0
45463.0  88.0                  13.0
45515.0  79.0                  12.0
45568.0  57.0                  31.0
45592.0  78.0                  22.0
45794.0  44.0                  25.0
45898.0  89.0                   7.0
46264.0  45.0                   8.0
46286.0  51.0                   8.0
47669.0  58.0                   9.0
Name: SAA, Length: 812504, dtype: float64

In [178]:
# 2개 기준으로 Group By 하기
gb3 = df.groupby(['CLNN', 'MCT_ADM_GDS_APB_CD']).sum()['SAA'] # 고객별 & 행정동별 합 chaining
gb3

CLNN     MCT_ADM_GDS_APB_CD
0.0      6.0                   11.0
         16.0                   6.0
         17.0                  28.0
         18.0                  49.0
         21.0                  33.0
         22.0                  12.0
         23.0                  40.0
         24.0                  31.0
         25.0                  39.0
         27.0                  77.0
         28.0                  22.0
         29.0                  79.0
         31.0                  68.0
         32.0                  14.0
         33.0                  55.0
         34.0                   6.0
         41.0                  60.0
         42.0                  34.0
         43.0                  11.0
         45.0                  11.0
         46.0                  22.0
         47.0                  30.0
         49.0                   4.0
         53.0                  36.0
         60.0                  25.0
         65.0                  15.0
         72.0                  18.0
         74.0                  18.0
         75.0                  30.0
         79.0                  14.0
                               ...
42108.0  27.0                  31.0
42143.0  146.0                 15.0
42217.0  78.0                  11.0
42234.0  94.0                  24.0
42365.0  157.0                  9.0
42436.0  39.0                  57.0
42556.0  35.0                  30.0
42569.0  57.0                  14.0
42752.0  98.0                   6.0
42886.0  21.0                  10.0
42984.0  4.0                   36.0
43004.0  15.0                   4.0
43124.0  63.0                   8.0
43470.0  32.0                   4.0
43550.0  49.0                  34.0
43565.0  62.0                   6.0
43806.0  59.0                  29.0
44074.0  75.0                   3.0
44780.0  2.0                   18.0
44905.0  21.0                   8.0
45358.0  18.0                  25.0
45463.0  88.0                  13.0
45515.0  79.0                  12.0
45568.0  57.0                  31.0
45592.0  78.0                  22.0
45794.0  44.0                  25.0
45898.0  89.0                   7.0
46264.0  45.0                   8.0
46286.0  51.0                   8.0
47669.0  58.0                   9.0
Name: SAA, Length: 812504, dtype: float64

In [182]:
df.sort_values(['MCT_ADM_GDS_APB_CD', 'SAA'], ascending=False).groupby(['CLNN']).head() ## 예시 ## TS_D와 FINAL_CD는 aggregate 되지 않았음

,CLNN,TS_D,FINAL_CD,SAA,MCT_ADM_GDS_APB_CD,DOF_TF,DAW_CCD,MCT_N,TIME
643724,16993.0,180726.0,41.0,27.0,355.0,0.0,0.0,97.0,135335.0
245942,1185.0,180730.0,96.0,26.0,354.0,1.0,1.0,85.0,132441.0
208852,4725.0,180715.0,84.0,28.0,345.0,0.0,1.0,66.0,5820.0
717839,7155.0,180702.0,64.0,12.0,345.0,1.0,5.0,15.0,189679.0
349446,16661.0,180727.0,58.0,6.0,334.0,0.0,2.0,21.0,208891.0
709605,2307.0,180702.0,61.0,35.0,330.0,0.0,2.0,26.0,67692.0
544604,15646.0,180725.0,79.0,5.0,316.0,0.0,3.0,44.0,104994.0
393677,7695.0,180708.0,3.0,14.0,313.0,0.0,4.0,10.0,27388.0
401154,12838.0,180703.0,55.0,18.0,310.0,0.0,3.0,44.0,111285.0
601656,10519.0,180708.0,58.0,21.0,307.0,0.0,4.0,42.0,228212.0
125077,9638.0,180703.0,47.0,7.0,307.0,0.0,4.0,1.0,87233.0
459714,3278.0,180722.0,28.0,30.0,304.0,0.0,2.0,78.0,193090.0
851894,1921.0,180721.0,50.0,5.0,304.0,0.0,0.0,65.0,118130.0
414290,2256.0,180717.0,67.0,15.0,301.0,0.0,4.0,54.0,57041.0
573289,673.0,180729.0,87.0,15.0,301.0,0.0,2.0,4.0,132170.0
347607,5270.0,180715.0,51.0,8.0,301.0,1.0,1.0,70.0,2020.0
813548,5460.0,180706.0,85.0,8.0,301.0,0.0,4.0,18.0,211602.0
144715,3.0,180714.0,30.0,4.0,300.0,0.0,0.0,48.0,168762.0
945541,20796.0,180710.0,36.0,3.0,300.0,0.0,5.0,51.0,59383.0
847361,7383.0,180723.0,31.0,13.0,299.0,0.0,2.0,98.0,139717.0
906147,11632.0,180706.0,18.0,4.0,299.0,1.0,2.0,96.0,1659.0
799420,15525.0,180722.0,39.0,36.0,298.0,1.0,0.0,71.0,36694.0
760538,1876.0,180707.0,29.0,7.0,297.0,0.0,1.0,44.0,34501.0
573189,6299.0,180703.0,34.0,31.0,296.0,1.0,5.0,69.0,6743.0
405079,455.0,180721.0,54.0,27.0,296.0,0.0,4.0,23.0,141866.0
333841,13307.0,180714.0,15.0,19.0,295.0,0.0,4.0,43.0,72948.0
261838,13859.0,180712.0,39.0,4.0,295.0,1.0,3.0,9.0,62764.0
922715,15941.0,180729.0,68.0,16.0,294.0,1.0,2.0,88.0,6586.0
109039,2773.0,180716.0,68.0,11.0,294.0,0.0,3.0,7.0,172159.0
355631,7031.0,180707.0,10.0,26.0,293.0,1.0,2.0,35.0,40467.0
...,...,...,...,...,...,...,...,...,...
247345,25633.0,180712.0,57.0,8.0,0.0,0.0,5.0,93.0,53243.0
346058,24551.0,180726.0,6.0,8.0,0.0,0.0,4.0,79.0,22801.0
376600,26512.0,180727.0,27.0,8.0,0.0,0.0,2.0,59.0,82826.0
541947,20565.0,180704.0,38.0,8.0,0.0,1.0,3.0,29.0,163156.0
622653,29107.0,180712.0,17.0,8.0,0.0,1.0,3.0,52.0,142113.0
710697,26051.0,180704.0,87.0,8.0,0.0,0.0,3.0,7.0,190981.0
809387,23472.0,180711.0,47.0,8.0,0.0,1.0,4.0,65.0,112325.0
986635,23547.0,180703.0,79.0,8.0,0.0,0.0,4.0,30.0,208052.0
59560,28015.0,180722.0,97.0,7.0,0.0,0.0,5.0,89.0,187077.0
261952,22402.0,180714.0,26.0,7.0,0.0,0.0,2.0,40.0,154365.0
472003,25034.0,180707.0,92.0,7.0,0.0,1.0,5.0,7.0,161914.0
897193,21869.0,180726.0,66.0,7.0,0.0,0.0,1.0,68.0,61104.0
222537,32004.0,180719.0,65.0,6.0,0.0,0.0,2.0,44.0,51666.0
514463,26575.0,180720.0,40.0,6.0,0.0,1.0,2.0,76.0,216540.0
697518,29335.0,180728.0,12.0,6.0,0.0,0.0,3.0,73.0,162653.0
751579,26543.0,180706.0,93.0,6.0,0.0,1.0,2.0,14.0,58721.0
961509,25457.0,180724.0,78.0,6.0,0.0,0.0,0.0,87.0,233354.0
971049,27857.0,180724.0,88.0,6.0,0.0,0.0,5.0,79.0,104759.0
980139,22914.0,180725.0,9.0,6.0,0.0,0.0,2.0,97.0,145040.0
336781,30000.0,180703.0,14.0,5.0,0.0,1.0,3.0,19.0,37602.0
385554,23695.0,180727.0,21.0,5.0,0.0,1.0,2.0,86.0,179732.0
163007,23529.0,180719.0,64.0,4.0,0.0,0.0,5.0,44.0,38869.0
410627,20205.0,180712.0,40.0,4.0,0.0,1.0,0.0,85.0,217585.0
444584,36402.0,180707.0,5.0,4.0,0.0,0.0,0.0,54.0,222968.0
561763,27938.0,180705.0,24.0,4.0,0.0,0.0,1.0,7.0,12347.0
870741,25637.0,180710.0,48.0,4.0,0.0,0.0,4.0,66.0,79452.0
265147,24533.0,180727.0,66.0,3.0,0.0,0.0,4.0,16.0,181435.0
490379,24959.0,180716.0,51.0,3.0,0.0,0.0,5.0,29.0,57941.0
524813,27838.0,180706.0,9.0,3.0,0.0,1.0,1.0,42.0,206651.0
717195,27625.0,180729.0,75.0,3.0,0.0,0.0,3.0,52.0,140864.0

In [185]:
# 고객당 평균 몇 개의 동에서 거래가 이루어졌는가?
grouped = df.groupby(['CLNN'], sort=False).count()['MCT_ADM_GDS_APB_CD']
print(grouped.head(15))
print(np.mean(grouped[:2]) )

CLNN
9837.0     52
8631.0     45
2531.0     86
5663.0     71
7783.0     66
191.0      74
821.0      71
8145.0     59
3278.0     68
14187.0    26
3707.0     74
4650.0     91
9585.0     61
8571.0     57
9170.0     60
Name: MCT_ADM_GDS_APB_CD, dtype: int64
54.19524804751953

### df를 sort하기

In [186]:
df.sort_values(by=['MCT_ADM_GDS_APB_CD', 'TIME'], ascending=True).head()

,CLNN,TS_D,FINAL_CD,SAA,MCT_ADM_GDS_APB_CD,DOF_TF,DAW_CCD,MCT_N,TIME
602092,19985.0,180712.0,88.0,22.0,0.0,0.0,5.0,91.0,18.0
649470,8914.0,180723.0,38.0,16.0,0.0,0.0,1.0,9.0,47.0
911259,2511.0,180707.0,53.0,44.0,0.0,0.0,4.0,3.0,80.0
380544,288.0,180713.0,96.0,38.0,0.0,0.0,0.0,27.0,85.0
438088,1593.0,180729.0,93.0,47.0,0.0,1.0,5.0,54.0,140.0

### GroupBy 객체를 sorting 하기

In [188]:
grouped = df.groupby(['CLNN'], sort=False).sum() # 여기에서 sort=False 가 중요한 것 같음
grouped.sort_values('SAA', ascending=False)['SAA']

CLNN
1429.0     2395.0
1310.0     2265.0
2288.0     2224.0
1181.0     2215.0
61.0       2199.0
633.0      2197.0
499.0      2178.0
3008.0     2157.0
2191.0     2124.0
517.0      2110.0
1875.0     2108.0
629.0      2093.0
4892.0     2085.0
2089.0     2084.0
1496.0     2078.0
2147.0     2076.0
1486.0     2071.0
892.0      2065.0
582.0      2058.0
765.0      2053.0
3992.0     2053.0
740.0      2047.0
809.0      2046.0
288.0      2037.0
1013.0     2037.0
497.0      2006.0
2109.0     2005.0
15.0       2002.0
1077.0     1996.0
1373.0     1994.0
            ...
27803.0       3.0
25893.0       3.0
33069.0       3.0
26775.0       3.0
28345.0       3.0
25193.0       3.0
27212.0       3.0
38607.0       3.0
29240.0       3.0
31011.0       3.0
24959.0       3.0
27235.0       3.0
31458.0       3.0
40288.0       3.0
44074.0       3.0
33343.0       3.0
26854.0       3.0
25104.0       3.0
23492.0       3.0
25860.0       3.0
34295.0       3.0
34917.0       3.0
31731.0       3.0
33882.0       3.0
29269.0       3.0
29574.0       3.0
40060.0       3.0
33828.0       3.0
24179.0       3.0
24227.0       3.0
Name: SAA, Length: 31226, dtype: float64

In [190]:
grouped = df.groupby(['MCT_ADM_GDS_APB_CD'], sort=False).sum()  
grouped.sort_values('SAA', ascending=False)['SAA']

MCT_ADM_GDS_APB_CD
4.0      217492.0
6.0      215742.0
8.0      214608.0
13.0     214252.0
3.0      214054.0
5.0      213921.0
11.0     213622.0
7.0      213365.0
9.0      213289.0
15.0     212370.0
2.0      212266.0
1.0      212210.0
12.0     212147.0
18.0     211983.0
17.0     211868.0
16.0     211253.0
10.0     210984.0
14.0     209861.0
19.0     208064.0
22.0     207602.0
20.0     207414.0
21.0     205396.0
25.0     204098.0
24.0     204054.0
23.0     202750.0
28.0     200711.0
27.0     199492.0
32.0     198925.0
26.0     197211.0
29.0     196708.0
           ...
296.0        58.0
287.0        54.0
291.0        51.0
292.0        51.0
301.0        46.0
345.0        40.0
290.0        38.0
288.0        38.0
298.0        36.0
304.0        35.0
330.0        35.0
289.0        32.0
283.0        32.0
271.0        31.0
286.0        29.0
307.0        28.0
355.0        27.0
294.0        27.0
293.0        26.0
354.0        26.0
295.0        23.0
310.0        18.0
299.0        17.0
313.0        14.0
300.0         7.0
282.0         7.0
297.0         7.0
334.0         6.0
316.0         5.0
276.0         4.0
Name: SAA, Length: 312, dtype: float64

In [187]:
grouped = df.groupby(['CLNN', 'MCT_ADM_GDS_APB_CD'], sort=False).sum() # 여기에서 sort=False 가 중요한 것 같음
grouped.sort_values('SAA', ascending=False)['SAA'] # multiple 기준으로 sorting은 안되는듯

CLNN     MCT_ADM_GDS_APB_CD
1748.0   24.0                  192.0
4808.0   32.0                  189.0
1370.0   54.0                  182.0
12837.0  70.0                  179.0
2375.0   44.0                  179.0
3081.0   20.0                  173.0
787.0    2.0                   173.0
4714.0   39.0                  172.0
5238.0   27.0                  171.0
4390.0   18.0                  171.0
2466.0   54.0                  169.0
9033.0   15.0                  168.0
2037.0   62.0                  167.0
753.0    15.0                  165.0
4706.0   19.0                  164.0
474.0    64.0                  164.0
1392.0   45.0                  164.0
3932.0   3.0                   164.0
4965.0   32.0                  163.0
3894.0   15.0                  163.0
49.0     52.0                  163.0
9494.0   6.0                   163.0
2527.0   23.0                  162.0
5147.0   33.0                  161.0
6531.0   16.0                  160.0
3011.0   6.0                   160.0
1385.0   44.0                  159.0
2051.0   15.0                  158.0
1999.0   10.0                  158.0
143.0    1.0                   158.0
                               ...
2385.0   188.0                   3.0
8116.0   102.0                   3.0
2873.0   138.0                   3.0
2530.0   20.0                    3.0
3931.0   66.0                    3.0
18997.0  118.0                   3.0
3475.0   109.0                   3.0
15600.0  191.0                   3.0
14025.0  45.0                    3.0
10916.0  69.0                    3.0
12633.0  82.0                    3.0
13293.0  66.0                    3.0
11449.0  76.0                    3.0
13258.0  23.0                    3.0
6158.0   87.0                    3.0
11535.0  58.0                    3.0
13454.0  63.0                    3.0
2919.0   87.0                    3.0
25635.0  37.0                    3.0
7104.0   123.0                   3.0
4409.0   56.0                    3.0
11189.0  25.0                    3.0
7700.0   5.0                     3.0
1899.0   25.0                    3.0
7360.0   73.0                    3.0
7288.0   22.0                    3.0
13352.0  60.0                    3.0
4140.0   88.0                    3.0
10757.0  93.0                    3.0
6582.0   48.0                    3.0
Name: SAA, Length: 812504, dtype: float64

In [ ]:
grouped.sort_values('CLNN', ascending=True) # NOT WORKING !! 처음 group by 한 원래 기준으로 sorting도 안되는듯

In [ ]:
gb2.apply(lambda _df: _df.sort_values(by=['SAA']))

In [ ]:
df.pivot('MCT_ADM_GDS_APB_CD', 'FINAL_CD', 'CLNN')

### 조건에 맞는 일부 원소만 추출하기

### 문자열을 숫자로 type 바꾸기

### 시간정보를 파싱하기

문자열로부터 날짜와 시간 정보를 읽어서 datetime.datetime 클래스 객체를 만들 수도 있다. 이 때는 datetime.datetime.strptime() 클래스 메서드를 사용한다. 첫 번째 인수로는 날짜와 시간 정보를 가진 문자열을, 두번째 인수로는 그 문자열을 해독할 수 있는 형식 문자열을 넣는다.

In [164]:
datetime.datetime.strptime("2017-01-02 14:44", "%Y-%m-%d %H:%M")

datetime.datetime(2017, 1, 2, 14, 44)

In [166]:
datetime.datetime.strptime("144401", "%H%M%S")

datetime.datetime(1900, 1, 1, 14, 44, 1)

*이슈사항 1: Resolve type problem*

In [3]:
datetime.datetime.strptime(trx_df['TIME'], "%H%M%S")
# gets Warning Message: triptime() arguement 1 must be str, not Series*

NameError: name 'datetime' is not defined

*이슈사항 2: Is this working? More efficient way?*

In [1]:
start_time= time.time()
print( " %d computed rows --- %.2f seconds ---"%\
      (len(pd.DataFrame(groupByCLNN)), time.time()-start_time))

NameError: name 'time' is not defined

*이슈사항 3: is null을 물었을 때 True의 개수 확인*

In [5]:
# 숫자로 바꿀 수 없는 문자열이 있는지 확인
print(pd.to_numeric(trx07_08_09_df['MKT_ADM_GDS_APB_CD'], errors='coerce').isnull())

NameError: name 'pd' is not defined

*이슈사항4: df를 합칠 때 컬럼이 다른 경우*

### 다른 df로부터 정보 추출하여 매칭하기

In [ ]:
# upjong

num_upjong = 2786049
upjong = pd.DataFrame(np.random.randint(0, 100, size=(num_upjong, 3)))
upjong.columns = ['MCT_N', 'FINAL_CD', 'FINAL_CD_NM']
upjong.head()

In [ ]:
grouped = upjong.groupby('MCT_N')

In [ ]:
grouped.head()

In [ ]:
grouped.count().head()

In [ ]:
grouped.describe()['SAA'].head()

In [ ]:
# file read in memory 
# takes a long time so beware session failure
trx07 = pd.read_csv('')

In [ ]:
# file read in memory 
# takes a long time so beware session failure
trx08 = pd.read_csv('')

In [ ]:
# file read in memory 
# takes a long time so beware session failure
trx09 = pd.read_csv('')

In [ ]:
# check if data is succesfully loaded in memory
# count rows

In [ ]:
# check data

Step 2. Data Wrangling

In [ ]:
# count trx, group by dong

# Make GroupBy object
groupByDong = trx07.groupby('dong')

In [ ]:
groupedByDong.count()
groupedByDong.sum()

만약 특정 변수에 대해서만 그룹별 요약/집계를 하고 싶다면 해당 변수를 indexing해주면 되며, 한개 변수에 대해서만 GroupBy 집계를 하면 반환되는 결과는 Series가 됩니다. 한개 변수에 대해 GroupBy 집계해서 나온 Series를 DataFrame으로 만들고 싶으면 pd.DataFrame() 를 사용해서 집계 결과를 DataFrame으로 변환해주면 됩니다.

In [ ]:
groupedByDong.sum()['amount'] # Series

pd.DataFrame(groupedByDong.sum()['amount']) # DataFrame

In [ ]:
groupedByDong.describe()['amount']

필요로 하는 집계함수가 pandas GroupBy methods에 없는 경우 사용자 정의 함수를 정의해서 집계에 사용할 수 있습니다. IQR(Inter-Quartile Range, Q3 - Q1) 를 사용자 정의 함수로 정의하고, 이를 grouped.aggregate() 혹은 grouped.agg() 의 괄호 안에 넣어서 그룹 별로 IQR를 계산해보겠습니다.

In [ ]:
def iqr_func(x):

    q3, q1 = np.percentile(x, [75, 25])

    iqr = q3 - q1

    return iqr

In [ ]:
groupedByDong.agg(iqr_func) # groupedByDong.aggregate(iqr_func) 도 같은 결과