In [ ]:
# Python version check
import sys
!{sys.executable} --version

In [ ]:
# version check
import sklearn
print('이 노트북에 사용된 scikit-learn 버전: {}.'.format(sklearn.__version__))

In [ ]:
import sqlite3 as sq

In [ ]:
from sql import *
from sql.aggregate import *
from sql.conditionals import *

In [ ]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series
import matplotlib.pyplot as plt
%matplotlib inline

0. Glossary 
    - trx07 
    - trx08
    - trx09
    - upjong
    - cus

1. Data Extraction

In [ ]:
# make sample

In [ ]:
# file read in memory
trx07 = pd.read_csv('')

In [ ]:
trx08 = pd.read_csv('')

In [ ]:
trx09 = pd.read_csv('')

In [ ]:
# check if data is succesfully loaded in memory
# count rows

In [ ]:
# check data

In [ ]:
# count trx, group by dong

# Make GroupBy object
groupByDong = trx07.groupby('dong')

In [ ]:
groupedByDong.count()
groupedByDong.sum()

만약 특정 변수에 대해서만 그룹별 요약/집계를 하고 싶다면 해당 변수를 indexing해주면 되며, 한개 변수에 대해서만 GroupBy 집계를 하면 반환되는 결과는 Series가 됩니다. 한개 변수에 대해 GroupBy 집계해서 나온 Series를 DataFrame으로 만들고 싶으면 pd.DataFrame() 를 사용해서 집계 결과를 DataFrame으로 변환해주면 됩니다.

In [ ]:
groupedByDong.sum()['amount'] # Series

pd.DataFrame(groupedByDong.sum()['amount']) # DataFrame

In [ ]:
groupedByDong.describe()['amount']

필요로 하는 집계함수가 pandas GroupBy methods에 없는 경우 사용자 정의 함수를 정의해서 집계에 사용할 수 있습니다. IQR(Inter-Quartile Range, Q3 - Q1) 를 사용자 정의 함수로 정의하고, 이를 grouped.aggregate() 혹은 grouped.agg() 의 괄호 안에 넣어서 그룹 별로 IQR를 계산해보겠습니다.

In [ ]:
def iqr_func(x):

    q3, q1 = np.percentile(x, [75, 25])

    iqr = q3 - q1

    return iqr

In [ ]:
groupedByDong.agg(iqr_func) # groupedByDong.aggregate(iqr_func) 도 같은 결과

In [ ]:
#############################

if __name__ == "__main__":
    ### DB 연결
    conn = sq.connect("testPython.db")
    cur = conn.cursor()
    ### 자료가져오기
    code ='A005930' # 삼성전자 종목코드
    tableName = 't_' + code

    df = pd.read_sql('select * from ' + tableName , con = conn)
    print(df)
    conn.close()
    
    
df = pd.read_sql('select Date, Close from ' + tableName + ' where Date >= 20151101' , con = conn)