In [2]:
# Python version check
import sys
!{sys.executable} --version

Python 3.6.4 :: Anaconda, Inc.

In [3]:
# version check
import sklearn
print('이 노트북에 사용된 scikit-learn 버전: {}.'.format(sklearn.__version__))

이 노트북에 사용된 scikit-learn 버전: 0.19.1.

In [4]:
import sqlite3 as sq

In [ ]:
from sql import *
from sql.aggregate import *
from sql.conditionals import *

In [77]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series
import matplotlib.pyplot as plt
%matplotlib inline

Step 0. Glossary 
    - trx07 
    - trx08
    - trx09
    - upjong
    - cus

Step 1. Data Extraction

In [121]:
# make sample

num_txn = 1000000 # 1/10 of real data 
num_CLNN = 40000 # 1/10 of real data

array01 = np.random.randint(0, num_CLNN, size=(num_txn, 1) ) # CLNN
array02 = np.random.randint(0, 100, size=(num_txn, 1)) # TS_D # 업종코드
array03 = np.random.randint(180701, 180731, size=(num_txn, 1)) # FINAL_CD # 승인날짜
array04 = np.random.randint(10, 1000, size=(num_txn, 1)) # SAA # 승인금액
array05 = np.random.randint(0, 424, size=(num_txn, 1)) # MCT_ADM_GDS_APB_CD # 서울 행정동 코드
array06 = np.random.randint(0, 2, size=(num_txn, 1)) # DOF_TF # 평일 or 휴일
array07 = np.random.randint(0, 6, size=(num_txn, 1)) # DAW_CCD # 요일코드
array08 = np.random.randint(0, 100000, size=(num_txn, 1)) # MCT_N # 가맹점 번호
array09 = np.random.randint(1, 240000, size=(num_txn, 1)) # TIME # 24h 시간
        
# df = pd.DataFrame(np.random.randint(0, 100, size=(num_txn, 9)) )

In [122]:
# df.pivot('date', 'ticker', 'value')

In [123]:
df = pd.DataFrame( np.column_stack([array01, array02, array03, array04, array05, array06, array07, array08, array09])
                  , columns = ['CLNN', 'TS_D', 'FINAL_CD', 'SAA', 'MCT_ADM_GDS_APB_CD', 'DOF_TF', 'DAW_CCD', 'MCT_N', 'TIME'])

df.head()

,CLNN,TS_D,FINAL_CD,SAA,MCT_ADM_GDS_APB_CD,DOF_TF,DAW_CCD,MCT_N,TIME
0,21005,16,180724,528,319,0,5,36067,4883
1,31408,11,180704,345,98,0,1,81371,799
2,39901,61,180720,558,48,1,5,77256,188820
3,8287,36,180704,735,312,0,4,22284,39802
4,24478,5,180714,573,358,0,5,64142,214564

In [133]:
groupedByCLNN = df.groupby('CLNN')

In [ ]:
groupedByCLNN.describe()['SAA'] # 계산시 오래걸림

In [134]:
groupedByCLNN.sum()['SAA'].head()

CLNN
0    11470
1    18331
2    13129
3    14178
4    14831
Name: SAA, dtype: int32

In [149]:
gb = df.groupby(['CLNN', 'MCT_ADM_GDS_APB_CD']) # 고객별 & 행정동별
gb2 = gb.sum()['SAA']
gb2

CLNN   MCT_ADM_GDS_APB_CD
0      50                     53
       73                    315
       82                    680
       96                    498
       117                   634
       124                   581
       133                   477
       136                    95
       183                   984
       205                   289
       206                   279
       216                   909
       274                    94
       285                   470
       298                   301
       324                   942
       337                   869
       350                   749
       356                   571
       362                   725
       367                   955
1      2                     141
       44                    814
       47                    727
       50                    605
       89                    235
       101                   658
       116                   303
       118                   317
       123                   150
                            ...
39998  222                   818
       227                   598
       304                    41
       314                   298
       335                   115
       343                    60
       349                   452
       351                   663
       401                   487
       408                   964
39999  8                     337
       64                    142
       82                    563
       84                    829
       118                   860
       124                   925
       131                   976
       177                    60
       191                   219
       195                   147
       197                   135
       214                   752
       218                   180
       255                   758
       286                   511
       289                   648
       296                    80
       319                   891
       341                   954
       345                   762
Name: SAA, Length: 970812, dtype: int32

In [155]:
gb2.apply(lambda _df: _df.sort_values(by=['SAA']))

AttributeError: 'int' object has no attribute 'sort_values'

In [161]:
df.pivot('MCT_ADM_GDS_APB_CD', 'FINAL_CD', 'CLNN')

ValueError: Index contains duplicate entries, cannot reshape

In [137]:
df.sort_values(by=['MCT_ADM_GDS_APB_CD', 'TIME'], ascending=True).head()

,CLNN,TS_D,FINAL_CD,SAA,MCT_ADM_GDS_APB_CD,DOF_TF,DAW_CCD,MCT_N,TIME
230941,10118,49,180719,41,0,0,4,52983,296
502809,38743,65,180730,186,0,1,5,51528,312
913211,30346,61,180730,536,0,1,5,80227,583
231830,26004,78,180705,394,0,1,5,46406,720
636454,8124,26,180712,180,0,1,5,7469,801

In [33]:
# upjong

num_upjong = 2786049
upjong = pd.DataFrame(np.random.randint(0, 100, size=(num_upjong, 3)))
upjong.columns = ['MCT_N', 'FINAL_CD', 'FINAL_CD_NM']
upjong.head()

   MCT_N  FINAL_CD  FINAL_CD_NM
0     54        35            5
1     74        87           58
2     95        62           37
3     72         2           49
4     38        84           67

In [53]:
grouped = upjong.groupby('MCT_N')

In [54]:
grouped.head()

      MCT_N  FINAL_CD  FINAL_CD_NM
0        54        35            5
1        74        87           58
2        95        62           37
3        72         2           49
4        38        84           67
5        82        61           56
6        80        33           19
7        40        24           35
8        65        72           70
9        72        31           37
10       54        47           60
11       37        28           23
12       72         8           90
13       86        31            8
14       59        21           75
15       58        56            1
16       30        48           86
17       58        72           56
18       40        98           59
19       59        13            2
20       14        32            7
21       66        97           55
22       87         0           73
23       25        93           70
24       73        27           23
25       14        41           14
26       60        66           72
27        6        79           55
28       56        12           52
29       15        91           57
...     ...       ...          ...
729      98        55           34
737      48        22           46
740      83        95           60
746      21        82           72
754      98        49           70
756      83         0           81
762      42        31           62
772      20        18           36
774      71        49           16
785      21        46           96
789      43        52           23
793      28        40           22
807      77        77           18
812      88        69           97
830      69        38           23
833      62         0           64
838      19         7            1
846      19        32           74
848      98        46            8
861      69        36           95
875      28        20           45
885      62        51           18
903      98        47           94
904      34        66           24
941      88        62           67
981      28        92           55
985      77        60           26
1070     88        31           72
1175     83        51           56
1727     28        47           32

[500 rows x 3 columns]

In [44]:
grouped.count().head()

,CLNN,TS_D,FINAL_CD,SAA,MCT_ADM_GDS_APB_CD,DOF_TF,DAW_CCD,TIME
MCT_N,,,,,,,,
0,9976,9976,9976,9976,9976,9976,9976,9976
1,10104,10104,10104,10104,10104,10104,10104,10104
2,9990,9990,9990,9990,9990,9990,9990,9990
3,9761,9761,9761,9761,9761,9761,9761,9761
4,9836,9836,9836,9836,9836,9836,9836,9836

In [26]:
grouped.describe()['SAA'].head()

         count       mean        std  min   25%   50%   75%   max
MCT_N
0       9978.0  49.291541  28.723075  0.0  25.0  49.0  74.0  99.0
1       9961.0  50.029616  28.845970  0.0  25.0  50.0  75.0  99.0
2      10246.0  49.745559  28.824698  0.0  25.0  50.0  75.0  99.0
3      10191.0  50.118830  28.942071  0.0  25.0  50.0  76.0  99.0
4      10156.0  49.472627  29.052602  0.0  24.0  50.0  75.0  99.0

In [ ]:
# file read in memory 
# takes a long time so beware session failure
trx07 = pd.read_csv('')

In [ ]:
# file read in memory 
# takes a long time so beware session failure
trx08 = pd.read_csv('')

In [ ]:
# file read in memory 
# takes a long time so beware session failure
trx09 = pd.read_csv('')

In [ ]:
# check if data is succesfully loaded in memory
# count rows

In [ ]:
# check data

Step 2. Data Wrangling

In [ ]:
# count trx, group by dong

# Make GroupBy object
groupByDong = trx07.groupby('dong')

In [ ]:
groupedByDong.count()
groupedByDong.sum()

만약 특정 변수에 대해서만 그룹별 요약/집계를 하고 싶다면 해당 변수를 indexing해주면 되며, 한개 변수에 대해서만 GroupBy 집계를 하면 반환되는 결과는 Series가 됩니다. 한개 변수에 대해 GroupBy 집계해서 나온 Series를 DataFrame으로 만들고 싶으면 pd.DataFrame() 를 사용해서 집계 결과를 DataFrame으로 변환해주면 됩니다.

In [ ]:
groupedByDong.sum()['amount'] # Series

pd.DataFrame(groupedByDong.sum()['amount']) # DataFrame

In [ ]:
groupedByDong.describe()['amount']

필요로 하는 집계함수가 pandas GroupBy methods에 없는 경우 사용자 정의 함수를 정의해서 집계에 사용할 수 있습니다. IQR(Inter-Quartile Range, Q3 - Q1) 를 사용자 정의 함수로 정의하고, 이를 grouped.aggregate() 혹은 grouped.agg() 의 괄호 안에 넣어서 그룹 별로 IQR를 계산해보겠습니다.

In [ ]:
def iqr_func(x):

    q3, q1 = np.percentile(x, [75, 25])

    iqr = q3 - q1

    return iqr

In [ ]:
groupedByDong.agg(iqr_func) # groupedByDong.aggregate(iqr_func) 도 같은 결과