In [13]:
import numpy as np
import random
import pandas as pd
from pandas import DataFrame, Series
import datetime
import time
import matplotlib.pyplot as plt
%matplotlib inline

In [75]:
#-*- coding: utf-8 -*-
df = pd.read_csv('df.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 10 columns):
Unnamed: 0            1000000 non-null int64
CLNN                  1000000 non-null int64
TS_D                  1000000 non-null object
FINAL_CD              1000000 non-null int64
SAA                   1000000 non-null int64
MCT_ADM_GDS_APB_CD    1000000 non-null int64
DOF_TF                1000000 non-null int64
DAW_CCD               1000000 non-null int64
MCT_N                 1000000 non-null int64
TIME                  1000000 non-null int64
dtypes: int64(9), object(1)
memory usage: 76.3+ MB

In [76]:
df['HOUR'] = df['TIME']/10000
df['HOUR'] = df.HOUR.astype(int)

In [77]:
gb02 = df.groupby(['CLNN', 'MCT_ADM_GDS_APB_CD', 'HOUR'], sort=False)

In [79]:
gb02.first()

                               Unnamed: 0        TS_D  FINAL_CD  SAA  DOF_TF  \
CLNN  MCT_ADM_GDS_APB_CD HOUR
0     2                  21        196591  2018-07-14        43    5       1
      3                  14        341648  2018-07-28        34   42       0
      4                  1         963763  2018-07-22        47    7       0
                         5         621887  2018-07-23        73   12       0
                         19        386666  2018-07-19        34    6       0
      5                  15        977818  2018-07-11        78   12       0
      6                  16         87512  2018-07-05         5   32       0
      7                  17        563405  2018-07-07        20   10       1
      8                  1         351188  2018-07-05        42    4       1
                         11        696670  2018-07-10        90   28       0
                         22        937769  2018-07-08        22   10       0
      11                 7         745228  2018-07-10        22   36       0
      16                 1           3444  2018-07-11        85    7       1
      18                 4         950892  2018-07-25        73   14       0
                         11        623508  2018-07-25        54   17       0
                         14        458566  2018-07-15        33   19       0
      20                 4         818864  2018-07-09        98   20       1
                         18        925196  2018-07-20        68   18       0
      21                 8         131173  2018-07-19        98   10       1
                         10        185720  2018-07-14        66   12       1
                         17        449223  2018-07-10        84   22       0
      22                 11        362090  2018-07-05         1   16       0
      24                 8         290204  2018-07-17        21   10       0
                         21        508176  2018-07-12        29   34       0
      26                 4         124817  2018-07-05        32   14       0
                         15        371360  2018-07-26        75    6       0
      27                 14        969990  2018-07-05        29   29       0
                         18        960516  2018-07-06        99   16       0
      28                 20        720577  2018-07-13        69   29       0
      33                 11         28894  2018-07-04        35   23       0
...                                   ...         ...       ...  ...     ...
41755 48                 16        381055  2018-07-30        18   18       0
41765 48                 8         763191  2018-07-22        97   18       0
41777 14                 6         191848  2018-07-11        40   13       1
41802 14                 20        837228  2018-07-01        69    6       0
41823 62                 6         455938  2018-07-10        55   16       1
41981 9                  12        463139  2018-07-10        35   15       0
42017 41                 7         761790  2018-07-15        36   17       1
42104 12                 5         231416  2018-07-23        65   45       0
42306 8                  1          29255  2018-07-06        13    5       1
42342 12                 22        909295  2018-07-13        67   36       1
42558 6                  7         369020  2018-07-17         6   21       0
42572 5                  16         91935  2018-07-09        43   11       1
42628 41                 12        602467  2018-07-05        98    6       1
42782 29                 14        732969  2018-07-01        98   15       0
42880 17                 1         396062  2018-07-15        49   17       0
43728 33                 8         395440  2018-07-12         8   25       1
44182 9                  9         399668  2018-07-30        99   15       1
44208 0                  21        661117  2018-07-15        45    6       0
44322 17                 11        824970  2018-07-27         3   19       1
44622 54                 16        865232  2018-07-01        59   26       0
44857 11                 19         55139  2018-07-04        37   24       0
44870 12                 6         876907  2018-07-21        54   10       0
45747 21                 3         218767  2018-07-18        30   29       1
46181 27                 2         730346  2018-07-29         5   24       1
46583 9                  10        234690  2018-07-20        74    5       0
47645 7                  12        604422  2018-07-06        49   13       0
47954 16                 1         713447  2018-07-15        30   14       1
48262 36                 23         57629  2018-07-21        77   16       0
48506 18                 9         974143  2018-07-21        90    6       0
52504 1                  11        630615  2018-07-22        22    9       1

                               DAW_CCD  MCT_N    TIME
CLNN  MCT_ADM_GDS_APB_CD HOUR
0     2                  21          1     11  219788
      3                  14          1     96  141713
      4                  1           1     66   11551
                         5           5     19   58536
                         19          4     94  190433
      5                  15          2     68  154623
      6                  16          5     56  169186
      7                  17          3     45  179524
      8                  1           0     68   12843
                         11          5     63  111437
                         22          4     88  227940
      11                 7           2     73   75185
      16                 1           0     63   17190
      18                 4           5     49   47733
                         11          2      7  117217
                         14          3     40  147565
      20                 4           5     33   45060
                         18          5     61  182722
      21                 8           0     49   87252
                         10          5     50  109711
                         17          1     65  170121
      22                 11          0     25  114934
      24                 8           4     39   84763
                         21          3      0  218510
      26                 4           4     63   41413
                         15          0      6  152637
      27                 14          5     72  147311
                         18          4     51  189231
      28                 20          0     86  202153
      33                 11          2     68  112932
...                                ...    ...     ...
41755 48                 16          1     23  160657
41765 48                 8           2     45   87632
41777 14                 6           5     17   64454
41802 14                 20          1     33  206063
41823 62                 6           3     37   69908
41981 9                  12          2     70  121076
42017 41                 7           1     32   75908
42104 12                 5           2     94   57719
42306 8                  1           4     63   16382
42342 12                 22          0     42  227783
42558 6                  7           5     74   71171
42572 5                  16          4     59  160345
42628 41                 12          1      7  121613
42782 29                 14          0     94  143910
42880 17                 1           2     98   17874
43728 33                 8           1      2   80388
44182 9                  9           1     14   92314
44208 0                  21          3     79  215414
44322 17                 11          1     73  115334
44622 54                 16          5     21  162873
44857 11                 19          1     80  190481
44870 12                 6           5     70   68171
45747 21                 3           1     41   31900
46181 27                 2           0      0   27942
46583 9                  10          1     70  101510
47645 7                  12          0     57  123713
47954 16                 1           4     23   10613
48262 36                 23          1     80  238625
48506 18                 9           1     83   93301
52504 1                  11          3     41  115435

[978665 rows x 8 columns]

In [33]:
col01a = np.random.randn(len(np.unique(df.MCT_ADM_GDS_APB_CD)), 1) # MCT_ADM_GDS_APB_CD # 서울 행정동 코드 # HJ_CD
col01 = np.round(np.sqrt(np.square(col01a)) * 30)

139

In [41]:
col02 = [random.choice(['명동', '쌍문동', '상암동', '구로동', '여의동', \
                        '강일동', '역삼동', '잠실1동', '목동', '이태원동', \
                        '한남동', '행당동', '자양1동', '상계1동', '웅암동', \
                        '신림동', '사당동', '서초동', '방배동', '잠실2동', \
                        '반포동', '신길1동', '상도동', '시흥동', '화곡1동', \
                        '신정동', '신월동', '북가좌동', '상계2동', '정릉동',\
                        '면목1동', '성수동', '중곡동', '자양2동', '면목2동',\
                        '면목3동', '창동', '상계3동', '연희동', '대치동',\
                        '개포동', '성내동', '창신동', '중계동', '합정동', \
                        '연남동', '방화동', '신길2동', '대림동', '낙성대동',\
                        '신사동', '삼성동', '문정동', '암사동', '삼청동', \
                        '부암동', '회현동', '소공동', '황학동', '후암동', \
                        '화곡2동', '화곡3동', '영등포동', '을지로동', '신당동'
                       ]) for _ in range(139)] # HJ_CD_NM

In [43]:
place = pd.DataFrame( np.column_stack([col01, col02])
                  , columns = ['HJ_CD', 'HJ_CD_NM'])

In [48]:
place.to_csv('place.csv')

In [46]:
col03 = range(0, 100) # FINAL_CD 
col04 = [random.choice(['여행', '의료', '생활편의', '문화', '카페/베이커리', '주유']) for _ in range(100)] # FINAL_CD_NM

In [47]:
mct = pd.DataFrame( np.column_stack([col03, col04]), columns = ['FINAL_CD', 'FINAL_CD_NM'])

In [49]:
mct.to_csv('mct.csv')

In [50]:
# Matching

In [52]:
# First, remove first two rows from gb02
gb02_df = pd.DataFrame(gb02)
gb02_df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 978665 entries, (0, 2, 21) to (52504, 1, 11)
Data columns (total 8 columns):
Unnamed: 0    978665 non-null int64
TS_D          978665 non-null int64
FINAL_CD      978665 non-null int64
SAA           978665 non-null int64
DOF_TF        978665 non-null int64
DAW_CCD       978665 non-null int64
MCT_N         978665 non-null int64
TIME          978665 non-null int64
dtypes: int64(8)
memory usage: 64.6 MB

In [65]:
gb02_df = gb02_df.drop(columns='Unnamed: 0', axis=1)

In [ ]:
gb02_df.index()