In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series
import datetime
import time
import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
usecols = ['CLNN', 'TS_D', 'FINAL_CD', 'SAA', 'MCT_ADM_GDS_APB_CD', 'DOF_TF', 'DAW_CCD', 'MCT_N', 'TIME']
df = pd.read_csv('df.csv', usecols=usecols)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 9 columns):
CLNN                  1000000 non-null int64
TS_D                  1000000 non-null object
FINAL_CD              1000000 non-null int64
SAA                   1000000 non-null int64
MCT_ADM_GDS_APB_CD    1000000 non-null int64
DOF_TF                1000000 non-null int64
DAW_CCD               1000000 non-null int64
MCT_N                 1000000 non-null int64
TIME                  1000000 non-null int64
dtypes: int64(8), object(1)
memory usage: 68.7+ MB

In [8]:
df.head(6)

,CLNN,TS_D,FINAL_CD,SAA,MCT_ADM_GDS_APB_CD,DOF_TF,DAW_CCD,MCT_N,TIME
0,14437,2018-07-19,25,11,26,0,5,36,199982
1,2414,2018-07-09,10,7,35,0,0,88,57272
2,2136,2018-07-28,82,9,2,0,2,83,135636
3,15588,2018-07-13,72,16,21,1,1,60,156460
4,6377,2018-07-28,37,14,31,0,2,58,2430
5,1974,2018-07-05,89,20,58,0,5,78,28881

In [10]:
df['SAA'][2:3]

2    9
Name: SAA, dtype: int64

In [12]:
df['SAA'][2:3] == 9

2    True
Name: SAA, dtype: bool

In [15]:
min(df['SAA'][2:3].values)

9

In [23]:
# Make Boolean variable

is_day_5 = df['DAW_CCD'] == 5
print(is_2002.head())

0     True
1    False
2    False
3    False
4    False
Name: DAW_CCD, dtype: bool

In [25]:
# filter rows for DAW_CCD == 5 using the boolean variable
day_5 = df[is_day_5] 
print(day_5.shape)

(167315, 9)

In [26]:
# showing only DAW_CCD == 5
day_5.head()

,CLNN,TS_D,FINAL_CD,SAA,MCT_ADM_GDS_APB_CD,DOF_TF,DAW_CCD,MCT_N,TIME
0,14437,2018-07-19,25,11,26,0,5,36,199982
5,1974,2018-07-05,89,20,58,0,5,78,28881
6,3939,2018-07-14,97,11,23,1,5,97,199889
9,1072,2018-07-11,33,11,8,1,5,7,52381
11,9374,2018-07-24,30,21,55,0,5,89,194015

In [ ]:
# DAYS TIMES SEX_CCD AGE_GB MIN
# 2 02 M 01_25 9.68