In [ ]:
# Python version check
import sys
!{sys.executable} --version

In [ ]:
import sqlite3 as sq

In [ ]:
from sql import *
from sql.aggregate import *
from sql.conditionals import *

In [13]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series
import datetime
import matplotlib.pyplot as plt
%matplotlib inline

Step 0. Glossary 
    - trx07 
    - trx08
    - trx09
    - upjong
    - cus

Step 1. Data Extraction

In [65]:
# make sample

num_txn = 1000000 # 1/100 of real data 
num_cus = 40000 # 1/100 of real data
num_mct = 100 

array01 = np.random.randint(0, num_cus, size=(num_txn, 1) ) # CLNN

In [109]:
array02 = np.random.randint(180701, 180731, size=(num_txn, 1)) # TS_D # 승인날짜
times = pd.date_range('2018-07-01', periods=31, freq='1440min')
array02new = np.random.choice(times, size=num_txn, replace=True, p=None)
array02new

array(['2018-07-19T00:00:00.000000000', '2018-07-21T00:00:00.000000000',
       '2018-07-06T00:00:00.000000000', ...,
       '2018-07-23T00:00:00.000000000', '2018-07-21T00:00:00.000000000',
       '2018-07-18T00:00:00.000000000'], dtype='datetime64[ns]')

In [67]:
array03 = np.random.randint(0, 100, size=(num_txn, 1)) # FINAL_CD # 업종코드

In [144]:
array04a = np.random.randn(num_txn, 1) # SAA # 승인금액
array04 = np.round(np.sqrt(np.square(array04a)) * 20 + 3)

In [145]:
array05old = np.random.randint(0, 424, size=(num_txn, 1)) # MCT_ADM_GDS_APB_CD # 서울 행정동 코드

array05a = np.random.randn(num_txn, 1) 
array05 = np.round(np.sqrt(np.square(array05a)) * 70)

In [141]:
# array06a = np.random.randint(1, 2, size=(round(num_txn*5/7), 1)) # DOF_TF # 평일 or 휴일
# array06b = np.random.randint(0, 1, size=(round(num_txn*2/7), 1)) # DOF_TF # 평일 or 휴일
# array06 = np.append(array06a, array06b, axis=0)
# random.shuffle(array06)

In [78]:
# 더 간편한 방법
array06 = np.random.choice(2, size=num_txn, p=[5/7, 2/7]) # 2 미만의 정수 중 p의 확률로 랜덤 선택

In [79]:
array07 = np.random.randint(0, 6, size=(num_txn, 1)) # DAW_CCD # 요일코드 # array06과 맞추기 어려워서 임시로 랜덤

In [80]:
array08 = np.random.randint(0, num_mct, size=(num_txn, 1)) # MCT_N # 가맹점 번호

In [81]:
array09 = np.random.randint(1, 240000, size=(num_txn, 1)) # TIME # 24h 시간 # 정확히 맞는 숫자는 아님

In [146]:
df = pd.DataFrame( np.column_stack([array01, array02, array03, array04, array05, array06, array07, array08, array09])
                  , columns = ['CLNN', 'TS_D', 'FINAL_CD', 'SAA', 'MCT_ADM_GDS_APB_CD', 'DOF_TF', 'DAW_CCD', 'MCT_N', 'TIME'])

df.head(10)

,CLNN,TS_D,FINAL_CD,SAA,MCT_ADM_GDS_APB_CD,DOF_TF,DAW_CCD,MCT_N,TIME
0,29451.0,180704.0,30.0,27.0,2.0,0.0,4.0,40.0,62053.0
1,5319.0,180717.0,22.0,34.0,71.0,1.0,3.0,12.0,167820.0
2,5026.0,180724.0,20.0,32.0,40.0,0.0,2.0,2.0,72977.0
3,24199.0,180719.0,94.0,46.0,47.0,0.0,3.0,13.0,238999.0
4,4007.0,180729.0,85.0,16.0,19.0,0.0,4.0,33.0,31640.0
5,10189.0,180702.0,80.0,37.0,6.0,1.0,1.0,17.0,182180.0
6,39620.0,180703.0,96.0,8.0,131.0,0.0,2.0,71.0,95124.0
7,7076.0,180710.0,88.0,25.0,111.0,0.0,1.0,72.0,91945.0
8,11037.0,180707.0,72.0,6.0,5.0,0.0,3.0,92.0,145968.0
9,1268.0,180704.0,92.0,15.0,57.0,0.0,1.0,55.0,51189.0

### GroupBy 객체 만들기

In [147]:
groupedByCLNN = df.groupby('CLNN')

In [ ]:
groupedByCLNN.describe()['SAA'].head() # 계산시 오래걸림

In [148]:
groupedByCLNN.count()['SAA'].head()

CLNN
0.0    30
1.0    26
2.0    19
3.0    35
4.0    19
Name: SAA, dtype: int64

In [149]:
groupedByCLNN.sum()['SAA'].head()

CLNN
0.0    524.0
1.0    556.0
2.0    359.0
3.0    605.0
4.0    259.0
Name: SAA, dtype: float64

In [150]:
groupedByCLNN.mean()['SAA'].head()

CLNN
0.0    17.466667
1.0    21.384615
2.0    18.894737
3.0    17.285714
4.0    13.631579
Name: SAA, dtype: float64

In [151]:
# 2개 기준으로 Group By 하기
gb = df.groupby(['CLNN', 'MCT_ADM_GDS_APB_CD']) # 고객별 & 행정동별
gb2 = gb.sum()['SAA'] # 금액 합
gb2

CLNN     MCT_ADM_GDS_APB_CD
0.0      1.0                   56.0
         3.0                   32.0
         6.0                   35.0
         7.0                    6.0
         9.0                   29.0
         16.0                   9.0
         20.0                  23.0
         26.0                  26.0
         27.0                   9.0
         33.0                  14.0
         41.0                  19.0
         42.0                  34.0
         49.0                  13.0
         55.0                  18.0
         58.0                  17.0
         61.0                   8.0
         64.0                  28.0
         66.0                   8.0
         69.0                  11.0
         82.0                  17.0
         83.0                  21.0
         89.0                   8.0
         96.0                  35.0
         141.0                 38.0
         149.0                 10.0
1.0      3.0                   15.0
         5.0                   41.0
         9.0                   12.0
         13.0                   8.0
         18.0                  42.0
                               ...
39998.0  68.0                  11.0
         77.0                  12.0
         85.0                  21.0
         89.0                  17.0
         100.0                  9.0
         110.0                 26.0
         156.0                 11.0
39999.0  2.0                    6.0
         5.0                    8.0
         6.0                   44.0
         12.0                  33.0
         16.0                  44.0
         17.0                  26.0
         19.0                  32.0
         22.0                  11.0
         25.0                  11.0
         30.0                  13.0
         36.0                  22.0
         48.0                  18.0
         49.0                  19.0
         52.0                  14.0
         53.0                   8.0
         69.0                  25.0
         79.0                   8.0
         81.0                  34.0
         97.0                  11.0
         111.0                 54.0
         114.0                 13.0
         126.0                 42.0
         163.0                  4.0
Name: SAA, Length: 907168, dtype: float64

In [ ]:
# 2개 기준으로 Group By 하기
gb3 = df.groupby(['CLNN', 'MCT_ADM_GDS_APB_CD']).sum()['SAA'] # 고객별 & 행정동별 합 chaining
gb3

In [156]:
df.sort_values(['MCT_ADM_GDS_APB_CD', 'SAA'], ascending=False).groupby(['CLNN']).head() ## 예시 ## TS_D와 FINAL_CD는 aggregate 되지 않았음

,CLNN,TS_D,FINAL_CD,SAA,MCT_ADM_GDS_APB_CD,DOF_TF,DAW_CCD,MCT_N,TIME
643724,5685.0,180717.0,41.0,27.0,355.0,0.0,0.0,97.0,135335.0
245942,12441.0,180703.0,96.0,26.0,354.0,1.0,1.0,85.0,132441.0
208852,37398.0,180728.0,84.0,28.0,345.0,0.0,1.0,66.0,5820.0
717839,18224.0,180705.0,64.0,12.0,345.0,1.0,5.0,15.0,189679.0
349446,35692.0,180717.0,58.0,6.0,334.0,0.0,2.0,21.0,208891.0
709605,25794.0,180701.0,61.0,35.0,330.0,0.0,2.0,26.0,67692.0
544604,4009.0,180717.0,79.0,5.0,316.0,0.0,3.0,44.0,104994.0
393677,21016.0,180703.0,3.0,14.0,313.0,0.0,4.0,10.0,27388.0
401154,6011.0,180722.0,55.0,18.0,310.0,0.0,3.0,44.0,111285.0
601656,3144.0,180727.0,58.0,21.0,307.0,0.0,4.0,42.0,228212.0
125077,32925.0,180723.0,47.0,7.0,307.0,0.0,4.0,1.0,87233.0
459714,5462.0,180711.0,28.0,30.0,304.0,0.0,2.0,78.0,193090.0
851894,28398.0,180728.0,50.0,5.0,304.0,0.0,0.0,65.0,118130.0
414290,10580.0,180703.0,67.0,15.0,301.0,0.0,4.0,54.0,57041.0
573289,8628.0,180712.0,87.0,15.0,301.0,0.0,2.0,4.0,132170.0
347607,37729.0,180727.0,51.0,8.0,301.0,1.0,1.0,70.0,2020.0
813548,19796.0,180725.0,85.0,8.0,301.0,0.0,4.0,18.0,211602.0
144715,16151.0,180705.0,30.0,4.0,300.0,0.0,0.0,48.0,168762.0
945541,24926.0,180718.0,36.0,3.0,300.0,0.0,5.0,51.0,59383.0
847361,4006.0,180717.0,31.0,13.0,299.0,0.0,2.0,98.0,139717.0
906147,22216.0,180726.0,18.0,4.0,299.0,1.0,2.0,96.0,1659.0
799420,6800.0,180722.0,39.0,36.0,298.0,1.0,0.0,71.0,36694.0
760538,11836.0,180714.0,29.0,7.0,297.0,0.0,1.0,44.0,34501.0
573189,17210.0,180714.0,34.0,31.0,296.0,1.0,5.0,69.0,6743.0
405079,21447.0,180703.0,54.0,27.0,296.0,0.0,4.0,23.0,141866.0
333841,3520.0,180730.0,15.0,19.0,295.0,0.0,4.0,43.0,72948.0
261838,39564.0,180706.0,39.0,4.0,295.0,1.0,3.0,9.0,62764.0
922715,37283.0,180724.0,68.0,16.0,294.0,1.0,2.0,88.0,6586.0
109039,37265.0,180712.0,68.0,11.0,294.0,0.0,3.0,7.0,172159.0
355631,8429.0,180714.0,10.0,26.0,293.0,1.0,2.0,35.0,40467.0
...,...,...,...,...,...,...,...,...,...
26165,26405.0,180717.0,81.0,20.0,237.0,1.0,1.0,54.0,40788.0
439116,21285.0,180720.0,31.0,16.0,237.0,1.0,4.0,71.0,117587.0
881904,30456.0,180728.0,4.0,15.0,237.0,1.0,2.0,68.0,200512.0
594151,26779.0,180706.0,25.0,14.0,237.0,1.0,0.0,28.0,134102.0
603120,16747.0,180727.0,31.0,10.0,237.0,0.0,4.0,74.0,144978.0
514405,20307.0,180717.0,98.0,9.0,237.0,1.0,0.0,60.0,168909.0
813172,2121.0,180707.0,5.0,5.0,237.0,0.0,0.0,20.0,183258.0
187289,35265.0,180729.0,38.0,27.0,235.0,0.0,5.0,66.0,235667.0
504006,10149.0,180709.0,46.0,24.0,235.0,0.0,1.0,10.0,7347.0
654490,10588.0,180719.0,73.0,22.0,235.0,1.0,3.0,42.0,59226.0
989681,12956.0,180725.0,38.0,9.0,235.0,0.0,2.0,64.0,107548.0
155667,11637.0,180707.0,5.0,12.0,234.0,0.0,5.0,52.0,87235.0
595842,35740.0,180715.0,27.0,4.0,234.0,1.0,3.0,73.0,182328.0
478336,4108.0,180728.0,89.0,3.0,234.0,0.0,4.0,69.0,43740.0
850535,23202.0,180705.0,4.0,48.0,233.0,0.0,2.0,84.0,15566.0
782142,32600.0,180703.0,2.0,34.0,233.0,0.0,0.0,98.0,150191.0
557316,19947.0,180721.0,78.0,30.0,233.0,1.0,0.0,67.0,29027.0
15875,12212.0,180703.0,7.0,28.0,233.0,0.0,5.0,99.0,238356.0
909782,36304.0,180715.0,27.0,24.0,233.0,1.0,0.0,14.0,239003.0
812668,34379.0,180701.0,27.0,21.0,233.0,0.0,1.0,44.0,177444.0
670717,37595.0,180701.0,86.0,19.0,233.0,0.0,3.0,61.0,80590.0
680383,37509.0,180717.0,98.0,16.0,233.0,1.0,5.0,89.0,169075.0
239574,36941.0,180725.0,5.0,13.0,233.0,0.0,4.0,88.0,184539.0
883338,5403.0,180730.0,98.0,13.0,233.0,0.0,0.0,21.0,232254.0
566071,2082.0,180708.0,27.0,5.0,232.0,0.0,0.0,89.0,43337.0
887562,31571.0,180721.0,2.0,6.0,230.0,1.0,3.0,26.0,88368.0
596157,11191.0,180728.0,70.0,35.0,229.0,0.0,3.0,34.0,147546.0
380579,19123.0,180718.0,2.0,22.0,229.0,0.0,2.0,26.0,77763.0
922954,30287.0,180726.0,2.0,26.0,228.0,0.0,4.0,26.0,112224.0
762298,7317.0,180704.0,98.0,17.0,228.0,0.0,5.0,5.0,137165.0

### GroupBy 객체를 sorting 하기

In [ ]:
# 고객당 평균 몇 개의 동에서 거래가 이루어졌는가?
grouped = df.groupby(['CLNN'], sort=False).count()['MCT_ADM_GDS_APB_CD']
print(grouped.head(15))
print(np.mean(grouped[:2]) )

In [ ]:
grouped = df.groupby(['CLNN', 'MCT_ADM_GDS_APB_CD'], sort=False).sum() # 여기에서 sort=False 가 중요한 것 같음
grouped.sort_values('SAA', ascending=False)['SAA'] # multiple 기준으로 sorting은 안되는듯

In [ ]:
grouped.sort_values('CLNN', ascending=True) # NOT WORKING !! 처음 group by 한 원래 기준으로 sorting도 안되는듯

In [ ]:
gb2.apply(lambda _df: _df.sort_values(by=['SAA']))

In [ ]:
df.pivot('MCT_ADM_GDS_APB_CD', 'FINAL_CD', 'CLNN')

In [ ]:
df.sort_values(by=['MCT_ADM_GDS_APB_CD', 'TIME'], ascending=True).head()

### 조건에 맞는 일부 원소만 추출하기

### 문자열을 숫자로 type 바꾸기

### 시간정보를 파싱하기

문자열로부터 날짜와 시간 정보를 읽어서 datetime.datetime 클래스 객체를 만들 수도 있다. 이 때는 datetime.datetime.strptime() 클래스 메서드를 사용한다. 첫 번째 인수로는 날짜와 시간 정보를 가진 문자열을, 두번째 인수로는 그 문자열을 해독할 수 있는 형식 문자열을 넣는다.

In [11]:
datetime.datetime.strptime("2017-01-02 14:44", "%Y-%m-%d %H:%M")

datetime.datetime(2017, 1, 2, 14, 44)

In [9]:
datetime.datetime.strptime("144401", "%H%M:%S")

ValueError: time data '144401' does not match format '%H%M:%S'

In [ ]:
# upjong

num_upjong = 2786049
upjong = pd.DataFrame(np.random.randint(0, 100, size=(num_upjong, 3)))
upjong.columns = ['MCT_N', 'FINAL_CD', 'FINAL_CD_NM']
upjong.head()

In [ ]:
grouped = upjong.groupby('MCT_N')

In [ ]:
grouped.head()

In [ ]:
grouped.count().head()

In [ ]:
grouped.describe()['SAA'].head()

In [ ]:
# file read in memory 
# takes a long time so beware session failure
trx07 = pd.read_csv('')

In [ ]:
# file read in memory 
# takes a long time so beware session failure
trx08 = pd.read_csv('')

In [ ]:
# file read in memory 
# takes a long time so beware session failure
trx09 = pd.read_csv('')

In [ ]:
# check if data is succesfully loaded in memory
# count rows

In [ ]:
# check data

Step 2. Data Wrangling

In [ ]:
# count trx, group by dong

# Make GroupBy object
groupByDong = trx07.groupby('dong')

In [ ]:
groupedByDong.count()
groupedByDong.sum()

만약 특정 변수에 대해서만 그룹별 요약/집계를 하고 싶다면 해당 변수를 indexing해주면 되며, 한개 변수에 대해서만 GroupBy 집계를 하면 반환되는 결과는 Series가 됩니다. 한개 변수에 대해 GroupBy 집계해서 나온 Series를 DataFrame으로 만들고 싶으면 pd.DataFrame() 를 사용해서 집계 결과를 DataFrame으로 변환해주면 됩니다.

In [ ]:
groupedByDong.sum()['amount'] # Series

pd.DataFrame(groupedByDong.sum()['amount']) # DataFrame

In [ ]:
groupedByDong.describe()['amount']

필요로 하는 집계함수가 pandas GroupBy methods에 없는 경우 사용자 정의 함수를 정의해서 집계에 사용할 수 있습니다. IQR(Inter-Quartile Range, Q3 - Q1) 를 사용자 정의 함수로 정의하고, 이를 grouped.aggregate() 혹은 grouped.agg() 의 괄호 안에 넣어서 그룹 별로 IQR를 계산해보겠습니다.

In [ ]:
def iqr_func(x):

    q3, q1 = np.percentile(x, [75, 25])

    iqr = q3 - q1

    return iqr

In [ ]:
groupedByDong.agg(iqr_func) # groupedByDong.aggregate(iqr_func) 도 같은 결과